* {
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}

.menucon {
    background-color: #eee;
    width: 100%;
    padding: 4% 8% 4% 8%;

    .menurow1 {
        text-align: center;

        .menucol1 {
            padding-bottom: 40px;

            h4 {
                font-size: 13px;
                letter-spacing: 1px;
                padding-top: 20px;
                font-weight: 400;
                color: #7f7f90;
                font-family: "open-sans", system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif
            }

            #start1 {
                color: #ce1212;
                // border-bottom: 2px solid #ce1212;
                padding-top: 5px;
                font-size: 25px;

            }

            h2 {
                padding-top: 25px;
                font-size: 48px;
                font-weight: 400;
                text-transform: uppercase;
                font-family: "Amatic SC", sans-serif;
            }

        }

        .menucol2 {
            display: flex;
            // width:80%;
            margin: auto;
            justify-content: space-between;

            #start {
                color: #ce1212;
                border-bottom: 2px solid #ce1212;
                padding-bottom: 5px;
                font-size: 25px;

            }



            div {
                a:hover {
                    color: #ce1212;
                    border-bottom: 2px solid #ce1212;
                    padding-bottom: 5px;
                    cursor: pointer;


                }


                a {
                    color: #37373f;
                    font-family: "Inter", sans-serif;
                    border-bottom: 2px solid #b6b6bf;
                    padding-bottom: 5px;
                }



            }
        }

    }

    .menurow2 {
        text-align: center;

        .menucol {

            .menucard {


                h3,
                h4,
                p {
                    padding: 10px 0px 10px 0px;
                }

                h3 {
                    font-size: 22px;
                    font-weight: 500;
                    color: #212529;
                    font-family: "Inter", sans-serif;
                    font-weight: 30px;
                    margin-bottom: 5px;
                }

                h4 {
                    color: #8d8d9b;
                    font-family: "Inter", sans-serif;
                    margin-bottom: 5px;
                }

                p{
                    font-size: 24px;
                    font-weight: 700;
                }

            }
        }
    }
}


#start:hover #start1 {
    display: block;
}


@media (max-width:940px) {
    .menucol2 {
        width: 100%;
        // font-size: 20px;

    }

}

@media (min-width:520px) {
    .menurow2 {
        .menucol {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;

            .menucard {
                width: 40%;

                div {
                    width: 100%;

                    img {
                        width: 100%;
                    }
                }
            }
        }
    }
}



@media (max-width:510px) {
    .menurow2 {
        .menucol {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;

            .menucard {
                width: 100%;

                div {
                    width: 100%;

                    img {
                        width: 100%;
                    }
                }
            }
        }
    }
}


@media (min-width:1000px) {
    .menucol2 {
        width: 40%;
        font-size: 25px;

    }

    .menurow2 {

        .menucol {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;

            .menucard {
                width: 30%;

                div {
                    width: 60%;
                    margin: auto;

                    img {
                        width: 100%;
                    }
                }
            }
        }
    }

}